# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
logs/

# test artifacts
coverage/
playwright-report/
test-results/

# misc
.DS_Store
.turbo/
